
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>
<div class="row row-cols-1 row-cols-md-5 g-4">
    @foreach (var item in Model)
    {
        Html.RenderAction("DisPlaySingleProduct", "Products", new { p = item });
    }
</div>
<div style="width:900px; margin:20px auto;text-align:center">
    @{
        int PrevPage = ViewBag.Page - 1;
        if (PrevPage <= 0)
        {
            PrevPage = 1;
        }
        int NextPage = ViewBag.Page + 1;
        if (NextPage > ViewBag.NoOfPages)
        {
            NextPage = ViewBag.NoOfPages;
        }
        int FirstPage = 1;
        int EndPage = ViewBag.NoOfPages;
    }
    <ul class="pagination justify-content-center align-items-center>
        <li class="page-item">
            <a class="page-link" href="/products/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=@FirstPage">
                FirstPage
            </a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="/products/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=@PrevPage">
                PrevPage
            </a>
        </li>
        @for (int i = 0; i < ViewBag.NoOfPages; i++)
        {
            if (i + 1 == ViewBag.Page)
            {
                <li class="page-item active">
                    <a class="page-link" href="/products/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=@(i+1)">
                        @(i+1)
                    </a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href="/products/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=@(i+1)">
                        @(i+1)
                    </a>
                </li>
            }

        }
        <li class="page-item">
            <a class="page-link" href="/products/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=@NextPage">
                NextPage
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/products/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=@EndPage">
                EndPage
            </a>
        </li>
    </ul>
</div>
